<appSettings>
  <add key="webpages:Version" value="3.0.0.0" />
  <add key="webpages:Enabled" value="false" />
  <add key="ClientValidationEnabled" value="true" />
  <add key="UnobtrusiveJavaScriptEnabled" value="true" />
  <add key="PageSize" value="7"/>   
  <add key="MaxPage" value="3"/>
  <add key="HomeTitle" value="Hỗn Tạp Blog"/>
  <add key="HomeKeyword" value="Hỗn Tạp Blog"/>
  <add key="HomeDescription" value="Hỗn Tạp Blog, blog lưu giữ tất cả các bài viết hay trên mạng internet, từ tin tức công nghệ, cho đến sức khỏe, làm đẹp. Từ thủ thuật blogger cho đến Facebook."/>

</appSettings>