<!DOCTYPE html>
<html class='v2' dir='ltr' lang='vi' xmlns='http://www.w3.org/1999/xhtml' xmlns:b='http://www.google.com/2005/gml/b' xmlns:data='http://www.google.com/2005/gml/data' xmlns:expr='http://www.google.com/2005/gml/expr'>
<head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
    <meta content='width=device-width, initial-scale=1, maximum-scale=1' name='viewport' />
    <!-- SEO by DoiGuocMoc.Com -->
    <title>@ViewBag.Title</title>
    <meta name="Description" content="@ViewBag.Descriptions" />
    <meta name="Keywords" content="@ViewBag.Keywords" />
    <meta content='http://www.jamviet.com/upload/2015/09/tech_blogs.jpg' property='og:image' />  
    <meta content='vi_VN' property='og:locale' />
    <meta content='website' property='og:type' />
    <link href="/Assets/client/css/custom.css" rel="stylesheet" />
    <link href="/Assets/client/css/font-awesome.css" rel="stylesheet" />
    <link href="/Assets/client/css/template-skin.css" rel="stylesheet" />
    <script type='text/javascript'>
        var summaryConf = {
            showImage: true,
            imgFloat: 'left',
            imgWidth: 275,
            imgHeight: 165,
            defaultThumb: 'http://1.bp.blogspot.com/-Zr0pmj1bLnM/Uhh7kROhGYI/AAAAAAAAGkE/W51xFS75-Ec/s1600/no-thumbnail.png',
            words: 55,
            wordsNoImg: 80,
            skip: 0,
            showHome: true,
            showLabel: true
        };
        //<![CDATA[
        function summary(h) {
            summary.count = summary.count || 0;
            summary.count++;
            var g = location.href.indexOf("search/label/index.html") == -1 && location.href.indexOf("/search?") == -1, c = location.href.indexOf("search/label/index.html") != -1;
            if (summary.count <= summaryConf.skip) {
                return
            }
            if (g && !summaryConf.showHome) {
                return
            }
            if (c && !summaryConf.showLabel) {
                return
            }
            var e = document.getElementById(h), f = e.getElementsByTagName("img"), a = "";
            if (summaryConf.showImage) {
                if (summaryConf.defaultThumb != "none") {
                    a = '<img width="' + summaryConf.imgWidth + '" height="' + summaryConf.imgHeight + '"';
                    if (summaryConf.imgFloat != "no") {
                        var b = ' style="float:' + summaryConf.imgFloat + ';margin:0 15px 5px 0;padding:0;border-radius:10px 0"';
                        a += b
                    }
                    a += ' src="' + (f.length > 0 ? f[0].src : summaryConf.defaultThumb) + '" />'
                }
                else {
                    if (f.length > 0) {
                        a = '<img width="' + summaryConf.imgWidth + '" height="' + summaryConf.imgHeight + '"';
                        if (summaryConf.imgFloat != "no") {
                            var b = ' style="float:' + summaryConf.imgFloat + ';margin:0 5px 5px 0;padding:0"';
                            a += b
                        }
                        a += ' src="' + f[0].src + '" />'
                    }
                }
            }
            if (a != "") var d = summary.strip(e.innerHTML, summaryConf.words)
            else var d = summary.strip(e.innerHTML, summaryConf.wordsNoImg);
            e.innerHTML = a + d + "..."
        }
        summary.strip = function (a, b) {
            return a.replace(/<.*?>/ig, "").split(/\s+/).slice(0, b - 1).join(" ")
        };
        //]]>
    </script>
</head>
<body class='loading index '>
    <div id="fb-root"></div>
    <script>
        (function (d, s, id) {
            var js, fjs = d.getElementsByTagName(s)[0];
            if (d.getElementById(id)) return;
            js = d.createElement(s); js.id = id;
            js.src = "//connect.facebook.net/vi_VN/sdk.js#xfbml=1&version=v2.8&appId=1261076797248709";
            fjs.parentNode.insertBefore(js, fjs);
        }(document, 'script', 'facebook-jssdk'));
    </script>

    <script src="https://apis.google.com/js/platform.js" async defer>
        { lang: 'vi' }
    </script>
    <script src='/Assets/client/code.jquery.com/jquery-latest.min.js' type='text/javascript'></script>
    <script type='text/javascript'>
        //<![CDATA[
        (function ($) { $.fn.menumaker = function (options) { var cssmenu = $(this), settings = $.extend({ title: "Menu", format: "dropdown", sticky: false }, options); return this.each(function () { cssmenu.prepend('<div id="menu-button">' + settings.title + '</div>'); $(this).find("#menu-button").on('click', function () { $(this).toggleClass('menu-opened'); var mainmenu = $(this).next('ul'); if (mainmenu.hasClass('open')) { mainmenu.hide().removeClass('open') } else { mainmenu.show().addClass('open'); if (settings.format === "dropdown") { mainmenu.find('ul').show() } } }); cssmenu.find('li ul').parent().addClass('has-sub'); multiTg = function () { cssmenu.find(".has-sub").prepend('<span class="submenu-button"></span>'); cssmenu.find('.submenu-button').on('click', function () { $(this).toggleClass('submenu-opened'); if ($(this).siblings('ul').hasClass('open')) { $(this).siblings('ul').removeClass('open').hide() } else { $(this).siblings('ul').addClass('open').show() } }) }; if (settings.format === 'multitoggle') multiTg(); else cssmenu.addClass('dropdown'); if (settings.sticky === true) cssmenu.css('position', 'fixed'); resizeFix = function () { if ($(window).width() > 768) { cssmenu.find('ul').show() } if ($(window).width() <= 768) { cssmenu.find('ul').hide().removeClass('open') } }; resizeFix(); return $(window).on('resize', resizeFix) }) } })(jQuery); (function ($) { $(document).ready(function () { $(document).ready(function () { $("#cssmenu").menumaker({ title: "Menu", format: "multitoggle" }); $("#cssmenu").prepend("<div id='menu-line'></div>"); var foundActive = false, activeElement, linePosition = 0, menuLine = $("#cssmenu #menu-line"), lineWidth, defaultPosition, defaultWidth; $("#cssmenu > ul > li").each(function () { if ($(this).hasClass('active')) { activeElement = $(this); foundActive = true } }); if (foundActive === false) { activeElement = $("#cssmenu > ul > li").first() } defaultWidth = lineWidth = activeElement.width(); defaultPosition = linePosition = activeElement.position().left; menuLine.css("width", lineWidth); menuLine.css("left", linePosition); $("#cssmenu > ul > li").hover(function () { activeElement = $(this); lineWidth = activeElement.width(); linePosition = activeElement.position().left; menuLine.css("width", lineWidth); menuLine.css("left", linePosition) }, function () { menuLine.css("left", defaultPosition); menuLine.css("width", defaultWidth) }) }) }) })(jQuery);
        //]]>
    </script>

    <header>
        @{Html.RenderAction("Header", "Home"); }
    </header>
    <sticknav>
        <div id='cssmenu'>
            @{Html.RenderAction("Menu", "Home"); }
        </div>
    </sticknav>
    <div style='clear: both'></div>
    <div class='wrapper-outer'>
        <div id='wrapper'>
            <div class='inner-wrapper'>
                <div id='main-content'>
                    <div class='content' itemscope='itemscope' itemtype='http://schema.org/Blog'>
                        @RenderBody()
                    </div>
                    <aside id='sidebar' itemscope='itemscope' itemtype='http://schema.org/WPSideBar'>
                        @{Html.RenderAction("SideBar", "Home"); }
                    </aside>
                    <div style='clear: both'></div>
                </div>
                <!-- content -->
            </div>
        </div>
    </div>
    <footer id="theme-footer" itemscope="itemscope" itemtype="http://schema.org/WPFooter" role="contentinfo">
        <div class="footer-4c" id="footer-widget-area">
            <div class="footer-widgets-box" id="footer-1">
                <div class="section no-items section" id="footer-first"></div>
            </div>
            <div class="footer-widgets-box" id="footer-2">
                <div class="section no-items section" id="footer-second"></div>
            </div>
            <div class="footer-widgets-box" id="footer-3">
                <div class="section no-items section" id="footer-third"></div>
            </div>
            <div class="footer-widgets-box" id="footer-4">
                <div class="section no-items section" id="footer-fourth"></div>
            </div>
            <div style="clear: both"></div>
        </div>
    </footer>
    <div class="footer-bottom">
        <div class="container">
            <div class="alignleft">Copyright © 2016 <a href="/">Hỗn Tạp Blog</a></div>
        </div>
    </div>
    <a href='#' id='backtotop'><i class='fa fa-angle-up'></i></a>
    <script type='text/javascript'>
        // Back to top
        jQuery(document).ready(function (e) { var t = e("#backtotop"); e(window).scroll(function () { e(this).scrollTop() >= 800 ? t.show(10).animate({ opacity: "1" }, 10) : t.animate({ opacity: "0" }, 10) }); t.click(function (t) { t.preventDefault(); e("html,body").animate({ scrollTop: 0 }, 400) }) })
    </script>
    <script type='text/javascript'>
        $(document).ready(function () {
            var aboveHeight = $('header').outerHeight();
            $(window).scroll(function () {
                if ($(window).scrollTop() > aboveHeight) {
                    $('sticknav').addClass('fixed').css('top', '0').next().css('padding-top', '60px');
                } else {
                    $('sticknav').removeClass('fixed').next().css('padding-top', '0');
                }
            });
        });
    </script>

    <script type="text/javascript" src="/Assets/client/www.blogger.com/static/v1/widgets/3200813190-widgets.js"></script>
    <script type='text/javascript'>
        window['__wavt'] = 'AOuZoY72_3e0UM8BsXAgtFASSpwjPo1QmQ:1477977542715'; _WidgetManager._Init('//www.blogger.com/rearrange?blogID\x3d1551989941049822615', 'index.html', '1551989941049822615');
        _WidgetManager._SetDataContext([{ 'name': 'blog', 'data': { 'blogId': '1551989941049822615', 'bloggerUrl': 'https://www.blogger.com', 'title': 'Hỗn Tạp Blog', 'pageType': 'index', 'url': 'http://www.hontapblog.tk/', 'canonicalUrl': 'http://www.hontapblog.tk/', 'homepageUrl': 'http://www.hontapblog.tk/', 'searchUrl': 'http://www.hontapblog.tk/search', 'canonicalHomepageUrl': 'http://www.hontapblog.tk/', 'blogspotFaviconUrl': 'http://www.hontapblog.tk/favicon.ico', 'enabledCommentProfileImages': true, 'gPlusViewType': 'FILTERED_POSTMOD', 'adultContent': false, 'analyticsAccountNumber': '', 'useUniversalAnalytics': false, 'pageName': '', 'pageTitle': 'Hỗn Tạp Blog', 'metaDescription': 'Hỗn Tạp Blog, blog lưu giữ tất cả các bài viết hay trên mạng internet.', 'encoding': 'UTF-8', 'locale': 'vi', 'localeUnderscoreDelimited': 'vi', 'isPrivate': false, 'isMobile': false, 'isMobileRequest': false, 'mobileClass': '', 'isPrivateBlog': false, 'languageDirection': 'ltr', 'feedLinks': '\x3clink rel\x3d\x22alternate\x22 type\x3d\x22application/atom+xml\x22 title\x3d\x22Hỗn Tạp Blog - Atom\x22 href\x3d\x22http://www.hontapblog.tk/feeds/posts/default\x22 /\x3e\n\x3clink rel\x3d\x22alternate\x22 type\x3d\x22application/rss+xml\x22 title\x3d\x22Hỗn Tạp Blog - RSS\x22 href\x3d\x22http://www.hontapblog.tk/feeds/posts/default?alt\x3drss\x22 /\x3e\n\x3clink rel\x3d\x22service.post\x22 type\x3d\x22application/atom+xml\x22 title\x3d\x22Hỗn Tạp Blog - Atom\x22 href\x3d\x22https://www.blogger.com/feeds/1551989941049822615/posts/default\x22 /\x3e\n', 'meTag': '', 'openIdOpTag': '\x3clink rel\x3d\x22openid.server\x22 href\x3d\x22https://www.blogger.com/openid-server.g\x22 /\x3e\n\x3clink rel\x3d\x22openid.delegate\x22 href\x3d\x22http://www.hontapblog.tk/\x22 /\x3e\n', 'mobileHeadScript': '', 'adsenseHostId': 'ca-host-pub-1556223355139109', 'ieCssRetrofitLinks': '\x3c!--[if IE]\x3e\x3cscript type\x3d\x22text/javascript\x22 src\x3d\x22https://www.blogger.com/static/v1/jsbin/4135384701-ieretrofit.js\x22\x3e\x3c/script\x3e\n\x3c![endif]--\x3e', 'view': '', 'dynamicViewsCommentsSrc': '//www.blogblog.com/dynamicviews/4224c15c4e7c9321/js/comments.js', 'dynamicViewsScriptSrc': '//www.blogblog.com/dynamicviews/24820205aa2ecc62', 'plusOneApiSrc': 'https://apis.google.com/js/plusone.js', 'sharing': { 'platforms': [{ 'name': 'Nhận liên kết', 'key': 'link', 'shareMessage': 'Nhận liên kết', 'target': '' }, { 'name': 'Facebook', 'key': 'facebook', 'shareMessage': 'Chia sẻ với Facebook', 'target': 'facebook' }, { 'name': 'BlogThis!', 'key': 'blogThis', 'shareMessage': 'BlogThis!', 'target': 'blog' }, { 'name': 'Twitter', 'key': 'twitter', 'shareMessage': 'Chia sẻ với Twitter', 'target': 'twitter' }, { 'name': 'Pinterest', 'key': 'pinterest', 'shareMessage': 'Chia sẻ với Pinterest', 'target': 'pinterest' }, { 'name': 'Google+', 'key': 'googlePlus', 'shareMessage': 'Chia sẻ với Google+', 'target': 'googleplus' }, { 'name': 'Email', 'key': 'email', 'shareMessage': 'Email', 'target': 'email' }], 'googlePlusShareButtonWidth': 300, 'googlePlusBootstrap': '\x3cscript type\x3d\x22text/javascript\x22\x3ewindow.___gcfg \x3d {\x27lang\x27: \x27vi\x27};\x3c/script\x3e' } } }, { 'name': 'features', 'data': { 'widgetVisibility': true } }, { 'name': 'messages', 'data': { 'linkCopiedToClipboard': 'Đã sao chép liên kết vào khay nhớ tạm!', 'postLink': 'Liên kết bài đăng' } }, { 'name': 'template', 'data': { 'name': 'custom', 'localizedName': 'Tùy chỉnh', 'isResponsive': false, 'isAlternateRendering': false, 'isCustom': true } }, { 'name': 'view', 'data': { 'classic': { 'name': 'classic', 'url': '?view\x3dclassic' }, 'flipcard': { 'name': 'flipcard', 'url': '?view\x3dflipcard' }, 'magazine': { 'name': 'magazine', 'url': '?view\x3dmagazine' }, 'mosaic': { 'name': 'mosaic', 'url': '?view\x3dmosaic' }, 'sidebar': { 'name': 'sidebar', 'url': '?view\x3dsidebar' }, 'snapshot': { 'name': 'snapshot', 'url': '?view\x3dsnapshot' }, 'timeslide': { 'name': 'timeslide', 'url': '?view\x3dtimeslide' }, 'isMobile': false, 'title': 'Hỗn Tạp Blog', 'description': 'Hỗn Tạp Blog, blog lưu giữ tất cả các bài viết hay trên mạng internet.', 'url': 'http://www.hontapblog.tk/', 'type': 'feed', 'isSingleItem': false, 'isMultipleItems': true, 'isError': false, 'isPage': false, 'isPost': false, 'isHomepage': true, 'isArchive': false, 'isSearch': false, 'isLabelSearch': false } }]);
        _WidgetManager._RegisterWidget('_HeaderView', new _WidgetInfo('Header1', 'header-logo', null, document.getElementById('Header1'), {}, 'displayModeFull'));
        _WidgetManager._RegisterWidget('_HTMLView', new _WidgetInfo('HTML1', 'ads-header1', null, document.getElementById('HTML1'), {}, 'displayModeFull'));
        _WidgetManager._RegisterWidget('_BlogView', new _WidgetInfo('Blog1', 'main', null, document.getElementById('Blog1'), { 'cmtInteractionsEnabled': false, 'lightboxEnabled': true, 'lightboxModuleUrl': 'https://www.blogger.com/static/v1/jsbin/1951020820-lbx__vi.js', 'lightboxCssUrl': 'https://www.blogger.com/static/v1/v-css/368954415-lightbox_bundle.css' }, 'displayModeFull'));
        _WidgetManager._RegisterWidget('_PopularPostsView', new _WidgetInfo('PopularPosts2', 'theiaStickySidebar', null, document.getElementById('PopularPosts2'), {}, 'displayModeFull'));
        _WidgetManager._RegisterWidget('_HTMLView', new _WidgetInfo('HTML17', 'theiaStickySidebar', null, document.getElementById('HTML17'), {}, 'displayModeFull'));
        _WidgetManager._RegisterWidget('_LabelView', new _WidgetInfo('Label1', 'theiaStickySidebar', null, document.getElementById('Label1'), {}, 'displayModeFull'));
    </script>
</body>
</html>